<!DOCTYPE html>
<html>
    <head>
        <title>MedCabinet - About</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    </head>
    <body>
        <nav>
            <a href="/" class="brand"><span>MedCabinet!</span></a>
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">Menu</label>
            <div class="menu">
                <a href="/about" class="button error">About</a>
              </div>
        </nav>
    </body>
</html>