<!DOCTYPE html>
<html>
    <head>
        <title>MedCabinet - About</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    </head>
    <body>
        <nav>
            <a href="/" class="brand"><span>
                <img src="static/images/weed-leaf.png" alt="Cannabis Leaf" width="30" height="30">
                MedCabinet!
            </span></a>
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">Menu</label>
            <div class="menu">
                <a href="/search" class="button normal">Search</a>
                <a href="/about" class="button normal">About</a>
              </div>
        </nav>
        <div style="padding: 3em 1em;">
            <h2>Who is this app for?</h2>
            <p>This app was designed with opioid and other narcotic patients in mind. 
                Find a remedy for pain, anxiety, insomnia, or dozens of other ailments 
                through the right strain of cannabis. Simply input one’s desired effects, 
                strain type, and/or a brief description and find pages of relevant results. 
                We offer a way for both new and experienced users to explore the wonderful 
                world of weed!</p>
            
            <h2>The Model</h2>
            <p>Natural Language Processing is implemented in this application 
               to take a user's description input and process it to be compared 
               and visualized with the description of each strain currently in 
               our data. A Nearest Neighbors clustering algorithm is able to 
               then return the most closely related strains using the processed 
               input.</p>
        </div>
    </body>
</html>
